<br>
{{#if error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{error}}!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if post}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Se Registro Correctamente!</h4>
    <p>Cliente {{post.nombre}}, ci {{post.ci}}, email {{post.email}}, telefono {{post.telefono}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if put}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Se Modifico Correctamente!</h4>
    <p>Cliente {{put.nombre}}, email {{put.email}}, telefono {{put.telefono}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if _delete}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Se Elimino Correctamente!</h4>
    <p>Cliente {{_delete.nombre}}, email {{_delete.email}}, telefono {{_delete.telefono}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="alert alert-success" role="alert">
  <h5>Gestión de Cliente</h5>
</div>

{{#if entity}}
<div class="card border-warning text-warning">
    <div class="card-header fw-bold">
        Modificar
    </div>
    <div class="card-body">
        <form action="/cliente/modificar/{{entity.ci}}?_method=PUT" method="post" id="modal-create-update">
            <input type="hidden" name="_method" value="PUT">
            <div class="mb-3">
                <label class="form-label">CI {{entity.ci}}</label>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId"
                    placeholder="Pablo Rodriguez" required value="{{entity.nombre}}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="helpId"
                    placeholder="pablo@gmail.com" value="{{entity.email}}">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="number" min="1" class="form-control" name="telefono" id="telefono"
                    aria-describedby="helpId" placeholder="76627873" value="{{entity.telefono}}" required>
            </div>
            <input name="" id="" class="btn btn-success" type="submit" value="Guardar">
            <a href="/cliente" class="btn btn-secondary">
                Cancelar
            </a>
        </form>
    </div>
</div>
{{else}}
<div class="card text-success">
    <div class="card-header fw-bold">
        Nuevo +
    </div>
    <div class="card-body">
        <form action="/cliente/crear" method="post" id="modal-create-update">
            <div class="mb-3">
                <label for="ci" class="form-label">CI</label>
                <input type="number" min="1" class="form-control" name="ci" id="ci"
                    aria-describedby="helpId" placeholder="9719837" value="{{entity.ci}}" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId"
                    placeholder="Pablo Rodriguez" required value="{{entity.nombre}}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId"
                    placeholder="pablo@gmail.com" value="{{entity.email}}">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="number" min="1" class="form-control" name="telefono" id="telefono"
                    aria-describedby="helpId" placeholder="85" value="{{entity.telefono}}" required>
            </div>
            <input name="" id="" class="btn btn-success" type="submit" value="Guardar">
        </form>
    </div>
</div>
{{/if}}
<br>
<br>
<div class="card">
    <div class="card-header text-success fw-bold">
        Clientes
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-success table-bordered">
                <thead>
                    <tr>
                        <th>CI</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <td>{{ci}}</td>
                        <td>{{nombre}}</td>
                        <td>{{email}}</td>
                        <td>{{telefono}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="">
                                <form action="/cliente/{{ci}}" method="get">
                                    <button type="submit" class="btn btn-outline-warning" data-bs-toggle="collapse "
                                        data-bs-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Editar
                                    </button>
                                </form>

                                <form action="/cliente/eliminar/{{ci}}?_method=DELETE" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-outline-danger">Borrar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>