<br>
{{#if error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{error}}!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if post}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Se Registro Correctamente!</h4>
    <p>Articulo {{post.nombre}}, descripcion {{post.descripcion}}, precio {{post.precio}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if put}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Se Modifico Correctamente!</h4>
    <p>Articulo {{put.nombre}}, descripcion {{put.descripcion}}, precio {{put.precio}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if _delete}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Se Elimino Correctamente!</h4>
    <p>Articulo {{_delete.nombre}}, descripcion {{_delete.descripcion}}, precio {{_delete.precio}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="alert alert-success" role="alert">
  <h5>Gestión de Artículo</h5>
</div>

{{#if entity}}
<div class="card border-warning text-warning">
    <div class="card-header fw-bold">
        Modificar
    </div>
    <div class="card-body">
        <form action="/articulo/modificar/{{entity.codigo}}?_method=PUT" method="post" id="modal-create-update">
            <input type="hidden" name="_method" value="PUT">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId"
                    placeholder="Traje Tipico Tinkus" required value="{{entity.nombre}}">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" name="descripcion" id="descripcion" aria-describedby="helpId"
                    placeholder="Traje de tinkus varon color verde y naranja" value="{{entity.descripcion}}">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" min="1" step="0.01" class="form-control" name="precio" id="precio"
                    aria-describedby="helpId" placeholder="76627873" value="{{entity.precio}}">
            </div>
            <input name="" id="" class="btn btn-success" type="submit" value="Guardar">
            <a href="/articulo" class="btn btn-secondary">
                Cancelar
            </a>
        </form>
    </div>
</div>
{{else}}
<div class="card text-success">
    <div class="card-header fw-bold">
        Nuevo +
    </div>
    <div class="card-body">
        <form action="/articulo/crear" method="post" id="modal-create-update">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId"
                    placeholder="Traje Tipico Tinkus" required value="{{entity.nombre}}">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="descripcion" class="form-control" name="descripcion" id="descripcion" aria-describedby="helpId"
                    placeholder="Traje de tinkus varon color verde y naranja" value="{{entity.descripcion}}">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" min="1" step="0.01" class="form-control" name="precio" id="precio"
                    aria-describedby="helpId" placeholder="85" value="{{entity.precio}}" required>
            </div>
            <input name="" id="" class="btn btn-success" type="submit" value="Guardar">
        </form>
    </div>
</div>
{{/if}}
<br>
<br>
<div class="card">
    <div class="card-header text-success fw-bold">
        Articulos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-success table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <td>{{codigo}}</td>
                        <td>{{nombre}}</td>
                        <td>{{descripcion}}</td>
                        <td>{{precio}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="">
                                <form action="/articulo/{{codigo}}" method="get">
                                    <button type="submit" class="btn btn-outline-warning" data-bs-toggle="collapse "
                                        data-bs-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Editar
                                    </button>
                                </form>

                                <form action="/articulo/eliminar/{{codigo}}?_method=DELETE" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-outline-danger">Borrar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>